@media screen and (max-width: 1267px) {
  .footer__holder-input {
    padding: 0;
  }

  .footer__holder-btn {
    padding: 16px 16px;
  }

  .form__group-input--active {
    padding: 24px 405px 24px 38px;
  }
}

 @media screen and (max-width: 552px){
   .page__introduction-btn{
     margin:0;
   }
}

@media screen and (max-width: 927px) {
  .logo__icon {
    display: none;
  }

  .responsive {
    display: flex;
    height: 40px;
  }

  .menu__item,
  .button--responsive {
    display: none;
  }

  .menu__bar--responsive {
    display: flex;
  }

  .page__img-icon {
    margin-bottom: 30px;
  }

  .page__icon{
      margin: 10px;
  }
  
  .about-outer {
    flex-wrap: wrap;
  }

  .commercial-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .task {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .form__group-input {
    padding: 0;
  }

  .questions__section {
    flex-wrap: wrap;
  }

  .offer__item {
    display: none;
    flex-wrap: wrap;
  }

  .offer__item--active {
    display: block;
  }

  .testimonial-outer {
    flex-wrap: wrap;
  }

  .footer__holder {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__holder-items {
    flex-direction: column;
    flex: 50%;
  }

  .footer__holder-input {
    padding: 0;
  }

  .footer__holder-btn {
    padding: 16px 10px;
    font-size: 10px;
  }

  .footer__holder__social {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 400px) {
  .title,
  .page__banner-title,
  .task__title,
  .footer__holder-title {
    font-size: 26px;
  }

  .subtitle,
  .page__banner-subtitle,
  .questions__subtitle,
  .footer__holder-subtitle {
    font-size: 12px;
  }

  .secondary__btn,
  .button {
    padding: 14px 24px;
    font-size: 12px;
  }

  .page__icon {
    height: 40px;
    padding: 10px;
  }

  .page__img-icon {
    margin-bottom: 30px;
  }

  .about-section {
    padding-top: 30px;
  }

  .page__describtion {
    display: none;
  }

  .page__describtion--responsive {
    display: flex;
  }

  .page__describtion-icon{
      width: 30px;
      height: 30px;
  }

  .testimonial-section {
    display: none;
  }

  .testimonial-section--responsive {
    display: block;
  }

  .questions__section-content--hidden {
    display: none;
  }

  .questions__title {
    font-size: 15px;
  }

  .footer__holder {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__holder-items {
    flex-direction: column;
    flex: 50%;
  }

  .footer__holder-input {
    padding: 0;
  }

  .footer__holder-btn {
    padding: 16px 10px;
  }

  .footer__holder__social {
    width: 26px;
    height: 26px;
  }
  .footer__copy-lists {
    display: none;
  }

  .footer__copy-list {
    font-size: 14px;
  }
}