@font-face {
  src: url("../fonts/Segoe\ UI.ttf");
  font-family: "segoe-ui-regular";
}

@font-face {
  src: url("../fonts/seguisb.ttf");
  font-family: "segoe-ui-semibold";
}

body {
  font-family: "segoe-ui-regular";
}

* {
  margin: 0;
  padding: 0;
}

.header {
  margin: 44px 0 130px 0;
}

.page__introduction {
  text-align: center;
  margin-bottom: 70px;
}

.introduction__image{
  width: 90%;
} 

.page__background {
  background: url("../img/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 1200px;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page__wrapper {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
}

.responsive {
  display: none;
}

.menu__bar--responsive {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
}

.logo__link {
  margin-right: 18px;
}

.menu__list {
  display: flex;
  margin-right: 20px;
  flex-wrap: wrap;
}

.menu__link {
  color: white;
  display: block;
  font-size: 20px;
  padding-bottom: 10px;
  position: relative;
  text-decoration: none;
}

.menu__link:before {
  background-color: rgb(252, 232, 58);
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  margin: 0 auto;
  position: absolute;
  transition: width 0.3s ease;
  width: 0;
}

.menu__link:hover:before {
  width: 100%;
}

.menu__link--active:before {
  width: 100%;
}

.menu__item {
  align-items: center;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 18px;
}

.menu {
  display: flex;
  align-items: center;
}

.button {
  background-color: #572bd9;
  border-radius: 8px;
  border-style: none;
  color: white;
  cursor: pointer;
  padding: 20px 50px;
}

.title {
  color: black;
  font-size: 64px;
  font-family: "segoe-ui-semibold";
}

.title--light {
  color: white;
  font-family: "segoe-ui-semibold";
}

.subtitle {
  color: white;
  font-size: 20px;
}

.title,
.subtitle {
  margin-bottom: 20px;
}

.page__btn-outer {
  margin-bottom: 52px;
}

.subtitle--margin {
  margin-bottom: 46px;
}

.page__introduction-btn {
  margin-right: 74px;
}

.button--yellow {
  background-color: #ffdd33;
}

.page__play-btn {
  background-color: #572bd9;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 21px 48px;
}

.page__img-icon {
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  margin: 180px 0 180px 0;
}

.page__icon {
  opacity: 0.2;
}

.page__icon--active {
  opacity: unset;
}

.introduction__pc {
  width: 80%;
}
.about-section {
  background-color: #fbfcfe;
  padding-top: 110px;
  text-align: center;
}

.subtitle--gray {
  color: #7e92ac;
}

.about-outer {
  display: flex;
  justify-content: space-between;
}

.page__describtion {
  align-items: baseline;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 130px 30px;
  text-align: justify;
  padding: 45px;
}

.page__describtion:hover {
  box-shadow: 0 0 15px grey;
}

.page__describtion-title {
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "segoe-ui-semibold";
}

.page__describtion-text {
  color: #7e92ac;
}

.page__describtion-icon {
  height: 73px;
  margin-bottom: 30px;
  width: 70px;
}

.page__describtion--responsive {
  align-items: baseline;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 110px 50px;
  text-align: justify;
  padding: 45px 45px;
}

.page__describtion--responsive:hover {
  box-shadow: 0 0 15px grey;
}

.page__describtion--hide {
  display: none;
}

.commercial-screen,
.task__screen {
  border-radius: 5px;
  box-shadow: 4px 4px 30px grey;
  height: 500px;
  padding: 70px;
  width: 50%;
}

.commercial-content {
  display: flex;
  padding: 130px 0px 130px 0px;
}

.commercial-outer {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px;
  width: 50%;
}

.commercial-subtitle {
  color: #7e92ac;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

.page__banner {
  background-image: url("../img/ready-started.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page__banner-content {
  padding: 90px 0 170px;
  text-align: center;
}

.title--banner,
.subtitle--banner {
  margin-bottom: 60px;
}

.task {
  display: flex;
  padding: 150px 0 150px 0;
}

.task__inner {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.task__item {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.task__icon {
  height: 60px;
  padding-right: 10px;
}

.task__text,
.questions__subtitle {
  font-size: 16px;
  color: #7e92ac;
}

.title--testimonial {
  text-align: center;
  margin-bottom: 120px;
}

.testimonial {
  background-color: #fbfcfe;
  padding: 120px 0 120px 0;
}

.testimonial-subtitle {
  font-size: 30px;
}

.testimonial-outer {
  display: flex;
  margin-bottom: 80px;
}

.testimonial-section {
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 45px 45px;
  margin: 45px 50px;
}

.testimonial-icon {
  position: relative;
  margin-top: -83px;
}

.testimonial-subtitle,
.testimonial-profession,
.testimonial-text {
  margin-bottom: 30px;
}

.page__switch {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.page__dot {
  background-color: #6736f9;
  border-radius: 30px;
  height: 16px;
  opacity: 0.5;
  width: 16px;
}

.page__dot--active {
  opacity: 1;
}

.page__dot:not(:last-child) {
  margin-right: 15px;
}

.page__offer {
  background-image: url("../img/offer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 120px 0;
}

.offer {
  display: flex;
}

.offer-paragraph {
  text-align: center;
}

.offer__item {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px;
  margin: 100px 20px;
}

.offer__item-title {
  font-size: 30px;
  margin-bottom: 36px;
}

.offer__price {
  font-size: 84px;
  margin-bottom: 36px;
}

.offer__price-info,
.offer__text {
  font-size: 20px;
  margin-bottom: 36px;
  text-align: center;
}

.offer__item--active {
  background-color: #6837fa;
  color: white;
}

.offer__list {
  color: #7e92ac;
  list-style-type: none;
  margin-bottom: 36px;
}

.offer__list--active {
  color: white;
  list-style-type: none;
  margin-bottom: 36px;
}

.questions__section {
  display: flex;
}

.title-outer {
  text-align: center;
}

.subtitle--dark {
  color: black;
}

.banner-reverse__content {
  padding: 170px 0 170px;
  text-align: center;
}

.questions__item {
  display: flex;
  padding: 50px;
  text-align: justify;
}

.questions__img {
  height: 70px;
  width: 73px;
}

.item-about__container {
  margin-bottom: 62px;
  text-align: justify;
}

.item-about__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
}

.page__questions {
  background-color: #e8f1fd;
  padding: 120px 0 120px 0;
}

.page__form-paragraph {
  margin-bottom: 70px;
}

.form__group-input {
  background-color: #fcfdff;
  border: 1px solid #c3cce8;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 24px 384px 24px 38px;
}

.form__group-input--active {
  height: 200px;
  padding: 24px 405px 24px 38px;
}

.page__form {
  text-align: center;
  padding: 120px 0 120px 0;
}

.page__banner-reverse {
  background-image: url("../img/ready-started2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.footer{
  width: 100%;
}

.footer__holder {
  display: flex;
  justify-content: space-between;
  padding: 120px 0 90px 0;
}

.footer__holder-items {
  display: flex;
  flex-direction: column;
  width: calc(33.3333% - 30px);
  flex: 25%;
}

.footer__copy {
  background-color: #5b2aee;
}

.footer__copy-title {
  min-width: 150px;
}

.footer__items {
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 40px 100px;
}

.footer__holder-title {
  font-size: 30px;
  margin-bottom: 30px;
}

.footer__holder-subtitle {
  color: #7e92ac;
  margin-bottom: 30px;
}

.footer__holder-input {
  border: 1px solid #7e92ac;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 20px 64px 20px 30px;
}

.footer__holder-btn__icon {
  height: 14px;
  margin-left: 14px;
}

.footer__holder-attributes {
  display: flex;
}

.footer__holder__social:not(:last-child) {
  margin-right: 6px;
}

.footer__holder-btn {
  background-color: #feb301;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  margin-bottom: 30px;
  padding: 20px 26px;
}
